# MQTT
MQTT_HOST=
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=statechange

# OpenWeatherMap
WEATHER_API_KEY=
WEATHER_LAT=
WEATHER_LON=
WEATHER_UNITS=metric
WEATHER_LANG=en

# Tibber
TIBBER_TOKEN=

# API
API_TIMEOUT=10000
CACHE_DURATION=3600

# Dishes
DISHES_API_URL=
